h1
{
  text-align: center;
  margin-bottom: 8vh;
  margin-top: 10vh;
}

table
{
  width: 100%;
}

tr
{
  text-align: center;
}

th
{
  text-align: center;
}

td
{
  text-align: center;
}

section
{
  margin-bottom: 8vh;
}