

{% extends 'base.html.twig' %}

{% block body %}



   <h1>Votre Panier</h1>


{% for cart in cart %}


       {{ dump(cart) }}
   


{% else %}

<h4>Votre panier est vide</h4>

{% endfor %}









   
{% endblock %}