

{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
 <div class="row">

 {% for cart in cart %}
    {{cart.vehiculePhysique.version.model}}
 {% endfor %}   








 </div>
</div>


   
{% endblock %}