{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<section>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <img src="/images/header/Carify_LogoAccueil.png" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>Welcome {{ user.username }}!</h2>
        </div>
        <br>
        <div class="row">
            <h6>Registration successful ! </h6>
        </div>
        <br>
        {% if targetUrl %}
                <a href="{{ targetUrl }}" class="btn btn-primary">My profile</a>
        {% endif %}
        <a href="/" class="btn btn-success">Back to homepage</a>
    </div>
</section>
{% endblock fos_user_content %}

