{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div id="envoiMailMdp container-fluid">
    <div class="col-md-8 offset-md-2">
        <h3 class="text-center blue-text">Email send</h3>
        <div class="card card-body">
            <p class="card-text text-center">
                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
            </p>
        </div>
    </div>
    </div>
{% endblock %}
