{% extends 'admin/admin/adminBase.html.twig' %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}



<h1>Affiche les Auto sur le site par vendeur</h1>





{% endblock %}



 


{% block javascripts %}
   
{% endblock %}