{% extends 'admin/adminBase.html.twig' %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}



<h1>Affiche les différentes stats par années/Trimestres/etc</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Moula</th>
      <th scope="col">Année</th>
      <th scope="col">Trimestre</th>
      <th scope="col">Mois</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2018</th>
      <td>133333$</td>
      <td>45$</td>
      <td>7895$</td>
    </tr>
    <tr>
      <th scope="row">2017</th>
      <td>5668$</td>
      <td>45564$</td>
      <td>45687$</td>
    </tr>
    <tr>
      <th scope="row">2016</th>
      <td>55645$</td>
      <td>455678$</td>
      <td>453456$</td>
    </tr>
  </tbody>
</table>



{% endblock %}



 


{% block javascripts %}
   
{% endblock %}