{% extends 'admin/admin/adminBase.html.twig' %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}


<button type="button" class="btn btn-danger">Delete a Client</button>


<h1>Liste des clients qui se déroule ici</h1>



{% endblock %}



 


{% block javascripts %}
   
{% endblock %}