{% extends 'admin/admin/adminBase.html.twig' %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}





<h1>Liste des clients qui se déroule ici</h1>

<div class="container-fluid">


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>client</h3>
        <p>Description client</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Supprimer</a></p>
      </div>
    </div>
  </div>



  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>client</h3>
        <p>Description client</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Supprimer</a></p>
      </div>
    </div>
  </div>



  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>client</h3>
        <p>Description client</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Supprimer</a></p>
      </div>
    </div>
  </div>



  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>client</h3>
        <p>Description client</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Supprimer</a></p>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}



 


{% block javascripts %}
   
{% endblock %}