{% extends 'admin/admin/adminSellerBase.html.twig' %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}

<h1>kyle is a boulet</h1>



{% endblock %}



 


{% block javascripts %}
   
{% endblock %}